body {
  text-rendering: optimizeLegibility;
  color: #222222;
  font: normal 100%;
  line-height: 1.4em;
  min-width: 612px;
}
body a {
  text-decoration: none;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
}
body a:visited { color: #665e87; }
body a:hover {
  text-decoration: none;
  color: #665e87;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-style: dotted;
}
body p { font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2"; }
body .title_group header {
  float: left;
  width: 33%;
  line-height: 69px;
  padding-left: 2px;
}
body .title_group header a {
  font-family: "p22-underground-1", "p22-underground-2";
  font-size: 1.625em;
  font-weight: 100;
  color: #000000;
}
body .title_group nav {
  float: left;
  width: 66%;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  line-height: 69px;
  text-align: right;
}
body .title_group nav a {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  color: #000000;
}
body .title_group nav .sep { padding: 0 4px; }
.site {
  margin: 0px auto;
  max-width: 38.25em;
  overflow: hidden;
  min-height: 100%;
}
.splash {
  display: block;
  padding-top: 80px;
  font-family: "p22-underground-1", "p22-underground-2";
  font-size: 1.625em;
  line-height: 1.4em;
  min-height: 400px;
}
.splash p {
  padding-left: 2px;
  width: 62.5%;
}
.splash p a {
  text-decoration: none;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  color: #000000;
}
body .site .content {
  padding-top: 80px;
  margin-bottom: 4.2em;
  min-height: 400px;
}
body .site .content h3 {
  font-family: "p22-underground-1", "p22-underground-2";
  font-size: 1.625em;
  font-weight: 600;
  font-style: normal;
  padding-left: 2px;
  line-height: 69px;
}
body .site .content p {
  padding-left: 2px;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  line-height: 1.625em;
}
body .site .content p a {
  text-decoration: none;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  color: #000000;
}
body .site .content ul li { list-style-type: none; }
body .site .content ul li .dateString {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  color: #665e87;
}
body .site .content ul li a {
  text-decoration: none;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  color: #000000;
}
body .site .content ul li a:visited { color: #665e87; }
body .site .post {
  padding-top: 80px;
  margin-bottom: 4.2em;
  min-height: 400px;
}
body .site .post h3 {
  width: 100%;
  font-family: "p22-underground-1", "p22-underground-2";
  font-weight: 600;
  font-size: 1.625em;
  font-style: normal;
  padding-left: 2px;
  line-height: 69px;
}
body .site .post .home {
  float: right;
  text-decoration: none;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  color: #000000;
}
body .site .post p {
  padding-left: 2px;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  line-height: 1.125em;
}
body .site .post p a {
  text-decoration: none;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  color: #000000;
}
body .footer {
  bottom: 1.4em;
  height: 4.2em;
}
body .footer .tool a {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2";
  color: #000000;
}
.deco {
  float: right;
  width: 17.97%;
  height: 480px;
}
