@charcoal: rgb(34,34,34);
@paleBlue: rgb(208,228,242);

body {
	text-rendering: optimizeLegibility;
	color: @charcoal;
	font: normal 100%;
	line-height: 1.4em;
}

body a {
	text-decoration: none;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
}

body a:hover {
	text-decoration: underline;
}

body p {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
}

body .title_group header {
	float: left;
	width: 33%;
	line-height: 69px;
	padding-left: 2px;
}

body .title_group header a {
	font-family: "p22-underground-1","p22-underground-2";
	font-size: 1.5em;
	color: #000;
	
}

body .title_group nav {
	float:left;
	width: 66%;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
	line-height: 69px;
	text-align: right;
}

body .title_group nav a {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
	color: #000;
}

body .title_group nav .sep {
	padding: 0 4px;
}

.site {
	margin: 0px auto;
	max-width: 38.25em;
	overflow: hidden;
}

.splash {
	padding-top: 7em;
	font-family: "p22-underground-1","p22-underground-2";
}

.splash p {
	padding-left: 2px;
}

.content {
	padding-top: 7em;
	h3 {
		font-family: "p22-underground-1","p22-underground-2";
		padding-left: 2px;
	}
}

body .footer {
	position: fixed;
	bottom: 1.4em;
}


body .footer .tool a{
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
	color: #000;
}