@charcoal: rgb(34,34,34);
@paleBlue: rgb(102,94,135);
@aquaBlue: rgb(42,94,140);
@reddish: rgb(166,98,73);

body {
	text-rendering: optimizeLegibility;
	color: @charcoal;
	font: normal 100%;
	line-height: 1.4em;
	min-width:612px;
	background-color: rgb(246,246,246);
}

body a {
	text-decoration: none;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	color: @reddish;
}

body a:visited {
	color: @paleBlue;
}

body a:hover {
	text-decoration: none;
	color: @paleBlue;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-style: dotted;
}

body p {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
}

body .title_group header {
	float: left;
	width: 29.5%;
	line-height: 69px;
	padding-left: 2px;
}

body .title_group header a {
	font-family: "p22-underground-1","p22-underground-2", "Helvetica Neue", sans-serif;
	font-size: 1.625em;
	font-weight: 100;
	color: #000;	
}

body .title_group nav {
	float: left;
	width: 70%;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	line-height: 69px;
	text-align: right;
}

body .title_group nav a {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	color: #000;
}

body .title_group nav .sep {
	padding: 0 4px;
}

body .site {
	max-width: 60em;
	margin: 0px auto;
	min-height: 100%;
	overflow: hidden;
}

body .site .wrapper {
	margin: 0px auto;
	max-width: 38.25em;
	padding: 5px;
}

body .site .wrapper .splash {
	display: block;
	margin-top: 120px;
	font-family: "p22-underground-1","p22-underground-2", "Helvetica Neue", sans-serif;
	font-size: 1.625em;
	line-height: 1.4em;
	min-height: 400px;
}

body .site .wrapper .splash p {
	padding-left: 2px;
	width: 80%;
}

body .site .wrapper .splash p a {
	text-decoration: none;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
}

body .site .wrapper .content {
	margin-top: 120px;
	margin-bottom: 4.2em;
	min-height: 400px;
}

body .site .wrapper .content h2 {
	font-family: "p22-underground-1","p22-underground-2", "Helvetica Neue", sans-serif;
	font-size: 2.125em;
	font-weight: 600;
	font-style: normal;
	padding-left: 2px;
	color: @reddish;
}

body .site .wrapper .content .home {
	float: right;
	text-decoration: none;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	color: #000;
}

body .site .wrapper .content .pubSection {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 1.625em;
	color: #000;
}

body .site .wrapper .content h4 {
	display: block;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.3125em;
	line-height: 1.4375;
	color: @paleBlue;
}

body .site .wrapper .content .citation {
	padding-left: 2px;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
}

body .site .wrapper .content p {
	padding-left: 2px;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	line-height: 1.625em;
}

body .site  .wrapper .content p a {
	text-decoration: none;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
}

body .site  .wrapper .content .tba {
	float: right;
	margin-top: 1em;
}

body .site .wrapper .content .projectList {
	width: 100%;
}

body .site .wrapper .content .projectList .infoBox {
	position: relative;
	width: 133px;
	float: left;
	min-height: 180px;
	padding: 10px;
}

#bpg{
	background-color: rgb(93,124,166);
}
#dceph{
	background-color: rgb(154,193,217);
}
#wwp{
	background-color: rgb(242,181,68);
}
#weme{
	background-color: rgb(191,89,52);
}
#railroads{
	background-color: rgb(198,113,67);
}
#next1{
	background-color: @aquaBlue;
}
#next2{
	background-color: @aquaBlue;
}
#next3{
	background-color: @aquaBlue;
}

body .site .wrapper .content .projectList .infoBox time {
	display: block;
	font-family: "p22-underground-1","p22-underground-2", "Helvetica Neue", sans-serif;
	font-weight: 100;
	color: #000;
	
}

body .site .wrapper .content .projectList .infoBox span {
	display: block;
	text-align: left;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	color: #fff;
	a {
		display: block;
		text-align: left;
		font-family: "p22-underground-1","p22-underground-2", "Helvetica Neue", sans-serif;
		font-weight: 400;
		color: #fff;
	}
}

body .site .wrapper .content .projectList .infoBox .projectRole {
	position: absolute;
	bottom: 10px;
}

body .site .wrapper .content .projectDetail{
	min-height: 360px;
}

body .site  .wrapper .post .timestamp {
	margin-top: 3.625em;
}

body .site  .wrapper .post .timestamp p {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	color: @paleBlue;
}

body .site  .wrapper .post p.timestamp abbr {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	color: @paleBlue;
}

body .site .wrapper .content ul {
	padding-left: 100px;
}

body .site .wrapper .content ul li {
	list-style-type: none;
	.dateString {
		font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
		color: #000;
	}
	.postSlug {
		margin: 5px auto;
		padding-left: 40px;
		font-family: "p22-underground-1","p22-underground-2", "Helvetica Neue", sans-serif;
		font-weight: 300;
		font-style: normal;
		text-align: justify;
	}
	a {
		text-decoration: none;
		font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	}
	a:visited {
		color: @paleBlue;
	}
}

body .site .wrapper .post {
	margin-top: 120px;
	margin-bottom: 4.2em;
	min-height: 400px;
}

body .site .wrapper .post h2 {
	display: block;
	width: 100%;
	font-family: "p22-underground-1","p22-underground-2", "Helvetica Neue", sans-serif;
	font-weight: 600;
	font-size: 1.1875em;
	font-style: normal;
	padding-left: 2px;
	color: @reddish;
}

/* body .site .wrapper .post h3 {
	width: 100%;
	font-family: "p22-underground-1","p22-underground-2", "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 1.625em;
	font-style: normal;
	padding-left: 2px;
	color: @reddish;
} */

body .site .wrapper .post .home {
	display: block;
	float: right;
	text-decoration: none;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	color: #000;
}

body .site .wrapper .post .sharing {
	width: 100%;
	float: right;
	margin-bottom: 1.625em;
}

body .site .wrapper .post .sharing iframe {
	float: right;
}

body .site .wrapper .post h4 {
	display: block;
	padding-left: 2em;
	width: 80%;
	font-family: "p22-underground-1","p22-underground-2", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1.1875em;
	line-height: 1.4375;
	/* text-align: justify; */
	color: @paleBlue;
}

body .site .wrapper .post p {
	padding-left: 2px;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	line-height: 1.625em;
}

body .wrapper .post p a {
	text-decoration: none;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
}

body .wrapper .post .post-image {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	p {
		font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	}
}

body .wrapper .post #comment-toggle a {
	text-decoration: none;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
}

body .site .wrapper .post #disqus_thread {
	margin-top: 3.625em;
}

body .site .wrapper .footer {
	bottom: 1.4em;
	min-height: 4.2em;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


body .site .wrapper .footer .tool a{
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
	color: #000;
}

.deco {
	float:right;
	position: relative;
	left: 109px;
	width: 17.97%;
	height: 400px;
	z-index: 100;
}

.margin {
	float: right;
	position: relative;
	bottom: 77px;
	left: 175px;
	opacity: 0.7;
}

/* Start styles for HTML CV */

.dateSidebar {
	float:left;
	width: 25%;
	padding-top: 1em;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
}

.cvItem {
	float: left;
	width: 75%;
}

.cvSectionContent ul li {
	margin-left: -100px;
	list-style-type: none;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
}

body .site .content .cvSectionContent ul li .cvItem ul li {
	list-style-type: circle;
	margin-top: .75em;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, serif;
}