---
layout: page
title: Notebook
---

<div class="static-body">
	<div class="static-title"><h2>Writing</h2></div>
	<div class="static-content">
	<ul class="posts">
		{% for post in site.posts %}
		<li>
			<span class="dateString">{{ post.date | date_to_string }}</span><br/>
			{% if post.external_url %}
			<h3><a href="{{ post.external_url }}" onclick="_gaq.push(['_trackPageview', '{{ post.url }}']);" >{{ post.title }}</a></h3>
			<p class="post-slug">{{ post.lede }} <a href="{{ post.external_url }}" onclick="_gaq.push(['_trackPageview', '{{ post.url }}']);" >&raquo;</a></p>
			{% else %} 
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			<p class="post-slug">{{ post.lede }} <a href="{{ post.url }}">&raquo;</a></p>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	</div>
</div>