.site-subhead {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  font-size: $font-size-h4;
  justify-content: space-between;
  list-style: none;
  margin-bottom: $line-height;
  margin-top: 0;
  padding-left: 0;

  li {
    flex: 1;
    padding-bottom: $line-height;
  }
}

// Media queries
@media (min-width: $bp-small) {
  .site-subhead {
    flex-flow: row;

    li:first-child {
      padding-left: 0;
    }

    li {
      padding-left: 1rem;
    }
  }
}

@media (min-width: $bp-lg) {
  .site-subhead li:first-child {
    padding-left: 0;
  }

  .site-subhead li {
    padding-left: 1rem;
  }
}
