.cv-section {
  border-top: .5px solid color(eerie-black);
  display: flex;
  flex-flow: column;
  padding-top: $line-height;

  h4 {
    color: color(sea-blue);
  }

  ul {
    font-size: $font-size-base;
    margin-top: 0;
  }

  li {
    margin-bottom: $line-height;
  }
}

@media (min-width: $bp-lg) {
  .cv-section {
    flex-flow: row;
    justify-content: space-between;
    min-width: 39rem;

    h4 {
      flex: 1;
    }

    ul {
      flex: 3;
      padding-left: ($gutter / 2);
    }
  }
}
