.full-screen-home {
  background-color: color(sea-blue);
  color: $baby-powder;
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  width: 100vw;
}

// Media queries
@media (min-width: $bp-med) {
  .full-screen-home {
    flex-flow: row;

    header {
      flex: 3;
      margin-bottom: auto;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: auto;
    }

    nav {
      display: flex;
      flex: 2;
      flex-flow: column;
      margin-bottom: auto;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: auto;
    }
  }
}
