.highlight {
  background-color: color(eerie-black, x-light);

  pre {
    font-size: $font-size-small;
    max-width: 25.2rem;
    overflow-x: auto;
    padding: $line-height;
  }
}

.post-title {
  margin-bottom: ($line-height / 2);
}

.post-subtitle {
  font-weight: 400;
  margin-bottom: 0;
}

.preface {
  margin-bottom: ($line-height * 2);

  p {
    color: color(sea-blue);
    font-family: $italic-font-family;
    font-size: $font-size-h5;
    font-weight: 400;
  }
}

.title-bloc {
  margin-bottom: $headings-line-height;
}
