$eerie-black: hsl(240, 14%, 10%);
$tomato-red: hsl(12, 85%, 60%);
$baby-powder: hsl(55, 100%, 99%);
$sea-blue: hsl(197, 100%, 28%);
$bright-sun: hsl(45, 100%, 64%);

$colors: (
  eerie-black: (
    x-light: lighten($eerie-black, 85%),
    light: lighten($eerie-black, 60%),
    mid: lighten($eerie-black, 30%),
    dark: $eerie-black
  ),
  tomato-red: (
    light: lighten($tomato-red, 20%),
    mid: $tomato-red,
    dark: darken($tomato-red, 30%)
  ),
  sea-blue: (
    light: lighten($sea-blue, 20%),
    mid: $sea-blue,
    dark: darken($sea-blue, 15%)
  ),
  bright-sun: (
    light: lighten($bright-sun, 20%),
    mid: $bright-sun,
    dark: darken($bright-sun, 20%)
  )
);


$body-bg-color: $baby-powder;
$text-color: $eerie-black;
$inverted-text-color: $body-bg-color;
$link-color: color(sea-blue, light);

body {
  background-color: $body-bg-color;
  color: $text-color;
}
