<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>{{ page.title }}</title>
		<meta name="author" content="Trevor Munoz">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="alternate" href="/atom.xml" type="application/atom+xml" title="sitewide atom feed">
		<link rel="stylesheet" href="/css/theme.css" type="text/css">
		
		<!-- Typekit -->
		<script type="text/javascript" src="http://use.typekit.com/zle8enf.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<!-- Javascript -->
		<script src="js/vendor/modernizr-2.6.2.min.js"></script>

	</head>
	<body>
		<div class="container">
			{{ content }}
		</div>

		<!-- Scripts -->
		<script type="text/javascript" src="js/vendor/jquery-1.9.1.min.js"></script>
		<script src="js/main.js"></script>

		<!-- Analytics -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-20775614-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>