---
layout: default
---

<div class="post">
	
	<p class="home"><a href="/notebook/">&laquo; Back</a></p>
	
	<h2>{{ page.title }}</h2>
	
	<h4>{{ page.lede }}</h4>
	

<!--	<div class="sharing">
	<iframe border="0" scrolling="no" width="78" height="17" allowtransparency="true" frameborder="0"
	 style="margin-bottom: -3px; z-index: 1338; border: 0px; background-color: transparent; overflow: hidden;"
	 src="http://www.instapaper.com/e2?url=http%3A%2F%2Ftrevormunoz.com{{ page.url | urlencode }}&title={{ page.title | urlencode }}%20%26raquo%3B%20Trevor%20Mu%C3%B1oz"
	></iframe>
	</div> -->

	
	{{ content }}
	
	<p class="comment-boilerplate">Contact me <a href="http://twitter.com/?status=@trevormunoz (http://trevormunoz.com{{ page.url }})" target="_blank">via Twitter</a>. Or send me an email: trevor [at] trevormunoz.com</p>

	{% if page.comments %}
	<div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'trevormuoz'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	{% endif %}

	</div>