---
layout: default
---

<div class="post">
	
	<p class="home"><a href="/notebook/">&laquo; Back</a></p>
	
	<h2>{{ page.title }}</h2>
	
	<h4>{{ page.lede }}</h4>
	

<!--	<div class="sharing">
	<iframe border="0" scrolling="no" width="78" height="17" allowtransparency="true" frameborder="0"
	 style="margin-bottom: -3px; z-index: 1338; border: 0px; background-color: transparent; overflow: hidden;"
	 src="http://www.instapaper.com/e2?url=http%3A%2F%2Ftrevormunoz.com{{ page.url | urlencode }}&title={{ page.title | urlencode }}%20%26raquo%3B%20Trevor%20Mu%C3%B1oz"
	></iframe>
	</div> -->

	
	{{ content }}
	
	<p>Have a comment? Please contact me <a href="http://twitter.com/?status=@trevormunoz (http://trevormunoz.com{{ page.url }})" target="_blank">via Twitter</a>. Or send me an email: trevor [at] trevormunoz.com</p>
<!--	<a href="#" id="comment-toggle">show/hide comments</a>
	<div id="commentWrap">
		<script type="text/javascript">
			$(document).ready(function() {
				$('#commentWrap').hide();
			$('#comment-toggle').click(function() {
				$('#commentWrap').toggle('slow');
				return false;
			});
		});
		</script>
		
		<div id="disqus_thread">
		<script type="text/javascript">
		    var disqus_shortname = 'trevormuoz';

		    // The following are highly recommended additional parameters. Remove the slashes in front to use.

		    var disqus_identifier = '{{ page.id }}';
		    var disqus_url = 'http://trevormunoz.com{{ page.url }}';
			var disqus_title = '{{ page.title }}';


		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
</div> -->
	</div>